@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 3 57 28;
    --color-secondary: 248 245 240;
    --color-primary-button: 10 150 76;
    --color-secondary-button: 204 219 211;
    --color-accent: 225 146 51;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: rgb(var(--color-primary));
  background: rgb(var(--color-secondary));
}

.hamburger-active span:first-child {
  transform: translateY(0.1875rem) rotate(45deg);
}

.hamburger-active span:last-child {
  transform: translateY(-0.1875rem) rotate(-45deg);
}

.color-effect {
  background: linear-gradient(120deg, rgb(var(--color-primary-button)), rgb(var(--color-accent)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}